---
layout: default
title: Tags
---

<article class="text-center page-block">
	<h2 class="page-title">
		<a href="{{ page.url | prepend: site.baseurl }}" class="noactive">{{ page.title }}</a>
	</h2>

	<div class="post-content">
		<div class="tags-expo-list">
			{% for tag in site.tags %}{% if tag[0] != "feature" %}
			<a href="#{{ tag[0] | slugify }}" class="post-tags noactive">{{ tag[0] }}</a>
			{% endif %}{% endfor %}
		</div>
		<div>
			{% for tag in site.tags %}{% if tag[0] != "feature" %}
			<h3 id="{{ tag[0] | slugify }}" class="tag-title">{{ tag[0] }}</h3>
			<ul class="tag-post-list">
				{% for post in tag[1] %}
				<li>
					<a class="noactive tag-post-title text-capitalize" href="{{ post.url | prepend: site.baseurl }}">
						{{ post.title }}
						<span class="tab-space"></span>
						<span class="tag-post-date">{{ post.date | date_to_string }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}{% endfor %}
		</div>
	</div>
</article>