<footer class="container clearfix footer">
    <div class="container">
        <p class="pull-left">
            subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a><br><br><br><br>
        </p>
        <p class="pull-right">
            &copy; 2025 <a href="http://ashleywang.me" target="_blank">ashleywang.me</a><br>
        </p>
    </div>
    <div class="container visitor-tracker d-none d-md-block">
        <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=E4WEWmV2AsBUjd4Jp49ZcjNybIZsmtpVKdGnFs9K3zg&cl=ffffff&w=a"></script>
    </div>
</footer>
<a id="back_top" class="d-none d-md-block"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

<script id="dsq-count-scr" src="//{{ site.disqus_forumname }}.disqus.com/count.js" async></script>
<script>
window.onscroll = function() {
    if(pageYOffset >= 200) {
        document.getElementById('back_top').style.visibility="visible"
    } else {
        document.getElementById('back_top').style.visibility="hidden";
    }
};
document.getElementById('back_top').onclick = function() {
    scrollTo(document.body, 0, 0);
}
</script>
