<div class="container">
    <div id="carousel-main" class="carousel slide" data-bs-ride="carousel">
        {% if site.tags.feature.size > 3 %}
		{% assign length = 3 %}
		{% else %}
		{% assign length = site.tags.feature.size %}
		{% endif %}

		{% capture time_now %}
		{{ 'now' | date: "%s" }}
		{% endcapture %}

        <div class="carousel-inner">
			{% for i in (0..length) %}{% unless forloop.last %}
			{% assign mypost = site.tags.feature[i] %}
            <div class="carousel-item {% if i == 0 %} active {% endif %} slider-image" style="background:url('/images/bg/bg{{ i }}.jpg') no-repeat center center; background-size:cover;">
                <div class="carousel-caption slider-title-background">
					<h2 class="slider-title text-uppercase">
						<a href="{{ mypost.url | prepend: site.baseurl }}">
							{{ mypost.title }}
						</a>
					</h2>
				</div>
            </div>
            {% endunless %}{% endfor %}
        </div>

        <button class="carousel-control-prev carousel-control" type="button" data-bs-target="#carousel-main" data-bs-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-control" type="button" data-bs-target="#carousel-main" data-bs-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>