---
layout: default
---
<div class="row">
	<div class="col-md-12">
		<article itemscope itemtype="http://schema.org/BlogPosting" class="post-block">
			<h3 class="post-title text-capitalize" itemprop="name headline">
				<a href="{{ my_post.link }}" class="noactive">{{ page.title }}</a>
			</h3>

			<p class="post-date">
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
			</p>

			<div class="post-content" itemprop="articleBody">
				{{ content }}
			</div>

			<p class="pull-left">
				{% if page.tags[0] %}
				{% for tag in page.tags %}{% if tag != "feature" %}
				<a href="{{ site.baseurl }}/tags#{{ tag }}" class="post-tags">{{ tag }}</a>
				{% endif %}{% endfor %}
				{% endif %}
			</p>

			{% if site.disqus_forumname %}
			{% include comments.html %}
			{% endif %}
		</article>
	</div>
</div>


